<ion-view view-title="Meal AI">
  <ion-content class="padding">
    <h3>Mirror Mirror On The Wall - Is My Meal Best Of All</h3>
      <label id="createYourMeal-input10">
        <table>
          <tr>
            <td><input id="inputFileToLoad" type="file"/></td>
            <td><input type="submit" ng-click="processImage()" class="button button-stable" value="Load Image"/></td>
          </tr>

        </table>  
        
      </label>

      <label id="createYourMeal-input10">
        <div id="imagePreview" class="meal-image-preview" style="width: 300px"></div>
        
      </label>

<!--<div ng-show="mealType.name">
  <h2>Your meal is:
{{mealType.name}}</h2>
</div>-->
  </ion-content>
</ion-view>
