<ion-view view-title="My Profile">
    <ion-content>       
        <div class="list card">
            <center>
                <h2>{{authData.displayName}}</h2>
                <p><strong>Email: </strong>{{authData.email}}</p>
            </center>

            <div class="item item-body">
    <div class="row">
  <div class="col"> <img src="{{ authData.profileImageURL}}" style="width:180px" class="headshot menu-item"></div>
  <div class="col"> <div id="chart_div" style="width: 100px; height: 60px;"></div></div>
</div>

                   
                  
            </div>
         
      <p class="clock">
        <span class="clock-block">
          <span class="clock-val">{{steps}}</span>
          <span class="clock-unit">steps</span>
        </span>

      </p>
        <div>
              </div>
              </div>
</div width=400>
              Progress: <progress value="88" max="100"></progress>
              </div>


    </ion-content>
</ion-view>
